@use "../mixins/responsive.scss" as *;
@use "../mixins/hover.scss" as *;

.button__footer {
  background-image: linear-gradient(#4851ff, #f02aa6);
  color: white;
  width: 140px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 31px;
  font-size: 16px;
  font-weight: 600;

  @include responsive(desktop) {
    @include hover {
      opacity: 50%;
    }
  }
}

.button__header {
  background-image: linear-gradient(#ff6f48, #f02aa6);
  color: white;
  width: 167px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 31px;
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 46px;

  @include responsive(desktop) {
    height: 63px;

    @include hover {
      opacity: 50%;
    }
  }
}

.button__nav {
  background-color: #13183f;
  color: white;
  width: 140px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 28px;
  font-size: 16px;
  font-weight: 600;

  @include responsive(tablet) {
    width: 140px;
    height: 48px;
  }

  @include responsive(desktop) {
    width: 167px;
    height: 56px;
    font-size: 18px;
    @include hover {
      opacity: 50%;
    }
  }
}
