@use "../mixins/responsive.scss" as *;
@use "../mixins/hover.scss" as *;

.cards {
  padding-left: 16px;
  padding-right: 16px;
  &__title {
    width: 343px;
    height: 120px;
    background-image: linear-gradient(#ff6f48, #f02aa6);
    color: #fff;
    display: flex;
    align-items: center;
    padding-left: 28px;
    padding-right: 29px;
    border-radius: 10px;
    margin-bottom: 40px;
  }

  @include responsive(tablet) {
    padding-left: 39px;
    display: grid;
    grid-template-columns: 339px 339px;
    grid-gap: 10px;
  }
  &__title {
    width: 339px;
    height: 259px;
  }

  @include responsive(desktop) {
    margin-top: 130px;
    margin-bottom: 180px;
    display: grid;
    grid-template-columns: 350px 350px 350px;
    padding-left: 165px;
    padding-right: 165px;
  }
}

.card {
  position: relative;
  background-color: #fff;
  padding-left: 28px;
  padding-right: 29px;
  border-radius: 10px;
  padding-bottom: 32px;
  margin-bottom: 40px;

  &__icon {
    position: absolute;
    top: -20px;
  }

  &__container {
    padding-top: 56px;
  }

  &__title {
    font-size: 20px;
    color: 13183F;
    font-weight: 800;
  }

  &__text {
    font-size: 16px;
    line-height: 26px;
    font-weight: 500;
    color: #83869a;
  }

  &__link {
    color: #f74780;
    font-weight: 700;
    font-size: 18px;

    @include responsive(desktop) {
      @include hover {
        opacity: 50%;
      }
    }
  }
}
