@use '../mixins/responsive.scss' as *;
@use '../mixins/hover.scss' as *;

.header {
    margin-top: 38px;
    padding-left: 16px;
    padding-right: 16px;

    @include responsive (tablet) {
        height: 500px;
        padding-left: 39px;
        padding-right: 0;
        display: flex;

        &__picture {
            position:absolute;
            left:400px;
            top: -70px;
            width: 640px;
            height: 640px;
        }

        &__container {
            width:398px ;
        }

    }

    @include responsive (desktop) {
        padding-left: 165px;
        height: 600px;

        &__picture {
            position: absolute;
            left: 750px;
            top: -120px;
            width: 991px;
            height: 936px;
        }

        &__container {
            margin-top: 100px;
        }
        
    }

    &__title {
        font-weight: 800;
        font-size: 40px;
        color: #13183F;
    }

    &__text {
        color: #83869A;
        font-size: 16px;
        line-height: 26px;
        font-weight: 500;
        margin-bottom: 24px;
    }
}

.button__header {
    background-image: linear-gradient(#FF6F48,#F02AA6);
    color: white;
    width: 167px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 31px;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 46px;

    @include responsive (desktop) {
        height: 63px;

        @include hover {
            opacity: 50%;
        }
    }
}