@use '../mixins/responsive.scss' as *;

.nav {
    display: flex;
    width: 375px;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 16px;

    @include responsive (tablet) {
        width: 689px;
        padding-left: 39px;
        padding-right: 39px;
        padding-top: 24px;

    }
}

.button__nav {
    background-color: #13183F;
    color: white;
    width: 140px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 28px;
    font-size: 16px;
    font-weight: 600;
}

